# ambiente
venv/
.env

# jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# python
__pycache__/
*.pyc
*.pyo

# sistema
.DS_Store
Thumbs.db

.devcontainer/


# Texto de entrega
Tech Challenge*Fase 04*Eduardo*Gil*Tivanello*.txt
        
# Video de entrega
Video/